@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn-xfans.buidlerdao.xyz/SF-Pro-Display-Regular.otf');

  /* src: url('./welcome/assets/SF-Pro-Display-Thin.otf'); */

  /* src: url('./welcome/assets/SF-Pro-Display-Medium.otf'); */
}

html,
body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px !important;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* styles.css */
.xfans-left-icon {
  transition: transform 0.3s ease;
}

.xfans-basic-button:hover .xfans-left-icon {
  transform: translateX(-4px);
}


